
@{
    ViewBag.Title = "ElegirTipodeDato";
}

<h2>ElegirTipodeDato</h2>
@using (Html.BeginForm("ElegirTipodeDato", "Pais", FormMethod.Post))
{
    <input type="submit" name="submitButton" value="Texto" />
    <input type="submit" name="submitButton" value="Entero" />
    <input type="submit" name="submitButton" value="Pais" />
}


